* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
   box-sizing:border-box;
}

 @mixin responsive($breakpoint){
   @if $breakpoint==phone{
     @media (max-width:31.2em){
       @content;
     }
   }
    @if $breakpoint==tab{
      @media (max-width:50em){
        @content;
      }
   }
   @if $breakpoint==tab-land {
    @media (max-width:62.5em){
      @content;
    }
 }
 }



/*COLORS
 color-primary:#ce367c;
 color-primary-light:#f0c2d8;
 color-black:#000;
 color-white:#fff;
 color-lightgrey:#DCDCDC;
 color-lightgrey-2:#f2f2f2;
 color-darkgrey:#808080;
 color-darkgrey-2:#191919;
 color-yellow:#f2cf0d;

*/

$breakpoint-500:31.25em;

:root{
--color-primary:#ce367c;
--color-primary-light:#f0c2d8;
--color-black:#000;
--color-white:#fff;
--color-lightgrey:#DCDCDC;
--color-lightgrey-2:#f2f2f2;
--color-darkgrey:#808080;
--color-darkgrey-2:#191919;
--color-yellow:#f2cf0d;
}

html {
  font-size:62.5%;
  @include responsive(phone){
    font-size:50%;
  }
}


body{
  font-family: "work sans",sans-serif;
  font-weight: 300;
  font-size:1.6rem;
  line-height: 1.4;
  color: #777;
  background-color:var(--color-black);
}

// Responsive Screen



